<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ClientCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ClientCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <ClientCenter.Properties.Settings>
            <setting name="ServicesHighlited" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CcmExec</string>
                        <string>WinRM</string>
                        <string>wuauserv</string>
                        <string>LanmanWorkstation</string>
                        <string>LanmanServer</string>
                        <string>RemoteRegistry</string>
                        <string>BITS</string>
                        <string>CmRcService</string>
                        <string>Winmgmt</string>
                        <string>PeerDistSvc</string>
                        <string>smstsmgr</string>
                        <string>RpcSs</string>
                        <string>ccmsetup</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PSEventQuery" serializeAs="String">
                <value>$a = 0
$timespan = New-Object System.TimeSpan(0, 0, 1)
$scope = New-Object System.Management.ManagementScope("\\.\root\ccm\Events")
$query = New-Object System.Management.WQLEventQuery("CCM_Event", $timespan)
$watcher = New-Object System.Management.ManagementEventWatcher($scope,$query)
do 
    {
        $b = $watcher.WaitForNextEvent()
        $b
    } 
while ($a -ne 1)</value>
            </setting>
            <setting name="RegisterDLLs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%systemroot%\system32\actxprxy.dll</string>
                        <string>%systemroot%\system32\atl.dll</string>
                        <string>%systemroot%\system32\Bitsprx2.dll</string>
                        <string>%systemroot%\system32\Bitsprx3.dll</string>
                        <string>%systemroot%\system32\browseui.dll</string>
                        <string>%systemroot%\system32\cryptdlg.dll</string>
                        <string>%systemroot%\system32\dssenh.dll</string>
                        <string>%systemroot%\system32\gpkcsp.dll</string>
                        <string>%systemroot%\system32\initpki.dll</string>
                        <string>%systemroot%\system32\jscript.dll</string>
                        <string>%systemroot%\system32\mshtml.dll</string>
                        <string>%systemroot%\system32\msi.dll</string>
                        <string>%systemroot%\system32\mssip32.dll</string>
                        <string>%systemroot%\system32\msxml.dll</string>
                        <string>%systemroot%\system32\msxml3.dll</string>
                        <string>%systemroot%\system32\msxml3a.dll</string>
                        <string>%systemroot%\system32\msxml3r.dll</string>
                        <string>%systemroot%\system32\msxml4.dll</string>
                        <string>%systemroot%\system32\msxml4a.dll</string>
                        <string>%systemroot%\system32\msxml4r.dll</string>
                        <string>%systemroot%\system32\msxml6.dll</string>
                        <string>%systemroot%\system32\msxml6r.dll</string>
                        <string>%systemroot%\system32\muweb.dll</string>
                        <string>%systemroot%\system32\ole32.dll</string>
                        <string>%systemroot%\system32\oleaut32.dll</string>
                        <string>%systemroot%\system32\Qmgr.dll</string>
                        <string>%systemroot%\system32\Qmgrprxy.dll</string>
                        <string>%systemroot%\system32\rsaenh.dll</string>
                        <string>%systemroot%\system32\sccbase.dll</string>
                        <string>%systemroot%\system32\scrrun.dll</string>
                        <string>%systemroot%\system32\shdocvw.dll</string>
                        <string>%systemroot%\system32\shell32.dll</string>
                        <string>%systemroot%\system32\slbcsp.dll</string>
                        <string>%systemroot%\system32\softpub.dll</string>
                        <string>%systemroot%\system32\urlmon.dll</string>
                        <string>%systemroot%\system32\userenv.dll</string>
                        <string>%systemroot%\system32\vbscript.dll</string>
                        <string>%systemroot%\system32\Winhttp.dll</string>
                        <string>%systemroot%\system32\wintrust.dll</string>
                        <string>%systemroot%\system32\wuapi.dll</string>
                        <string>%systemroot%\system32\wuaueng.dll</string>
                        <string>%systemroot%\system32\wuaueng1.dll</string>
                        <string>%systemroot%\system32\wucltui.dll</string>
                        <string>%systemroot%\system32\wucltux.dll</string>
                        <string>%systemroot%\system32\wups.dll</string>
                        <string>%systemroot%\system32\wups2.dll</string>
                        <string>%systemroot%\system32\wuweb.dll</string>
                        <string>%systemroot%\system32\wuwebv.dll</string>
                        <string>%systemroot%\system32\wbem\wmisvc.dll</string>
                        <string>%systemroot%\system32\Xpob2res.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MachineLaunchRestriction" serializeAs="String">
                <value>O:BAG:BAD:(A;;CCDCSW;;;WD)(A;;CCDCLCSWRP;;;BA)(A;;CCDCLCSWRP;;;LU)(A;;CCDCLCSWRP;;;S-1-5-32-562)</value>
            </setting>
            <setting name="MachineAccessRestriction" serializeAs="String">
                <value>O:BAG:BAD:(A;;CCDCLC;;;WD)(A;;CCDCLC;;;LU)(A;;CCDCLC;;;S-1-5-32-562)(A;;CCDCLC;;;AN)</value>
            </setting>
            <setting name="DefaultLaunchPermission" serializeAs="String">
                <value>O:BAG:BAD:(A;;CCDCLCSWRP;;;SY)(A;;CCDCLCSWRP;;;BA)(A;;CCDCLCSWRP;;;IU)</value>
            </setting>
            <setting name="NoLocalAdminCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollectionVariablesFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Password</string>
                        <string>PWD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AdhocInv" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>OS Architecture|root\cimv2|SELECT VariableValue FROM  Win32_Environment WHERE Name='PROCESSOR_ARCHITECTURE' AND UserName='&lt;SYSTEM&gt;'</string>
                        <string>PC Manufacturer|root\cimv2|SELECT Manufacturer FROM Win32_ComputerSystem</string>
                        <string>LastHWInv|Root\CCM\Scheduler|SELECT LastTriggerTime FROM CCM_Scheduler_History WHERE ScheduleID='{00000000-0000-0000-0000-000000000001}' and UserSID='Machine'</string>
                        <string>LastSWInv|Root\CCM\Scheduler|SELECT LastTriggerTime FROM CCM_Scheduler_History WHERE ScheduleID='{00000000-0000-0000-0000-000000000002}' and UserSID='Machine'</string>
                        <string>LastDDR|Root\CCM\Scheduler|SELECT LastTriggerTime FROM CCM_Scheduler_History WHERE ScheduleID='{00000000-0000-0000-0000-000000000003}' and UserSID='Machine'</string>
                        <string>LastMachinePolicyRequest|Root\CCM\Scheduler|SELECT LastTriggerTime FROM CCM_Scheduler_History WHERE ScheduleID='{00000000-0000-0000-0000-000000000021}' and UserSID='Machine'</string>
                        <string>LastReboot|root\cimv2|SELECT LastBootUpTime FROM Win32_OperatingSystem</string>
                        <string>InstallDate|root\cimv2|SELECT InstallDate FROM Win32_OperatingSystem</string>
                        <string>CurrentUser|root\cimv2|SELECT Username FROM Win32_ComputerSystem</string>
                        <string>PrimaryUsers|ROOT\ccm\Policy\Machine\ActualConfig|SELECT * FROM CCM_UserAffinity WHERE IsUserAffinitySet = 'True'</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="showPingButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AgentInstallPS" serializeAs="String">
                <value>$CM12MP = 'Management Point FQDN' 
$CMSiteCode = 'xxx'  

$ErrorActionPreference = "SilentlyContinue" 

#Only migrate non CM12 Agents 
if(([wmi]"ROOT\ccm:SMS_Client=@").ClientVersion.StartsWith('5.')) 
{ 
    "Already migrated..." 
    exit 0 
} 

try 
{ 
#Get ccm cache path for later cleanup... 
    try 
    { 
        $ccmcache = ([wmi]"ROOT\ccm\SoftMgmtAgent:CacheConfig.ConfigKey='Cache'").Location 
    } catch {} 

#download ccmsetup.exe from MP 
    $webclient = New-Object System.Net.WebClient 
    $url = "http://$($CM12MP)/CCM_Client/ccmsetup.exe" 
    $file = "c:\windows\temp\ccmsetup.exe" 
    $webclient.DownloadFile($url,$file)

#download CU3 Patch from MP , must be copied manually to the Client directory.
#$url = "&lt;http://$($CM12MP)/CCM_Client/configmgr2012ac-sp1-kb2882125-x64.msp&gt;" 
#$file = "c:\windows\temp\configmgr2012ac-sp1-kb2882125-x64.msp" 
#$webclient.DownloadFile($url,$file)

#stop the old sms agent service 
    stop-service 'ccmexec' -ErrorAction SilentlyContinue 

#Cleanup cache 
    if($ccmcache -ne $null) 
    { 
        try 
        { 
        dir $ccmcache '*' -directory | % { [io.directory]::delete($_.fullname, $true)  } -ErrorAction SilentlyContinue 
        } catch {} 
    } 

#Cleanup Execution History 
    Remove-Item -Path 'HKLM:\SOFTWARE\Wow6432Node\Microsoft\SMS\Mobile Client\*' -Recurse -ErrorAction SilentlyContinue 

#Cleanup App-V 4.6 Packages 
    try 
    { 
        (get-wmiobject -query "SELECT * FROM Package WHERE SftPath like '%' AND InUse = 'FALSE' " -namespace "root\Microsoft\appvirt\client") | % { start-process -wait sftmime.exe -argumentlist "delete package:$([char]34)$($_.Name)$([char]34) /global" }         
    } catch {} 

#kill existing instances of ccmsetup.exe 
    $ccm = (Get-Process 'ccmsetup' -ErrorAction SilentlyContinue) 
    if($ccm -ne $null) 
    { 
            $ccm.kill(); 
    } 

#run ccmsetup
 
if(test-path "c:\windows\temp\configmgr2012ac-sp1-kb2882125-x64.msp") {
    $proc = Start-Process -FilePath 'c:\windows\temp\ccmsetup.exe' -PassThru -Wait -ArgumentList "Patch=""c:\windows\temp\configmgr2012ac-sp1-kb2882125-x64.msp"" /mp:$($CM12MP) /source:http://$($CM12MP)/CCM_Client CCMHTTPPORT=80 RESETKEYINFORMATION=TRUE SMSSITECODE=$($CMSiteCode) SMSSLP=$($CM12MP) FSP=$($CM12MP)"
} else { 
    $proc = Start-Process -FilePath 'c:\windows\temp\ccmsetup.exe' -PassThru -Wait -ArgumentList "/mp:$($CM12MP) /source:http://$($CM12MP)/CCM_Client CCMHTTPPORT=80 RESETKEYINFORMATION=TRUE SMSSITECODE=$($CMSiteCode) SMSSLP=$($CM12MP) FSP=$($CM12MP)"  }
   Sleep(5) 
   "ccmsetup started..." 
} 

catch 
{ 
        "an Error occured..." 
        $error[0] 
} </value>
            </setting>
            <setting name="HideNonUserUIExperienceApplicattions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideShutdownPane" serializeAs="String">
                <value>False</value>
            </setting>
        </ClientCenter.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ClientCenter.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultHostName" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WinRMPort" serializeAs="String">
                <value>5985</value>
            </setting>
            <setting name="WinRMSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recentlyUsedComputers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>127.0.0.1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AgentInstallSiteCode" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentInstallMP" serializeAs="String">
                <value />
            </setting>
            <setting name="HideTSAdvertisements" serializeAs="String">
                <value>True</value>
            </setting>
        </ClientCenter.Properties.Settings>
    </userSettings>
</configuration>
